# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/*.keystore
**/*.jks
*.iml
.gradle
/local.properties

# iOS related
**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/flutter_export_environment.sh

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Web related
lib/generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/

# Others
*.lock
*.log
*.pyc
*.swp

# Environment files
.env
